<% include ../partials/header %>

	<header>
		<div class="jumbotron">
			<img id="indexLogo" src="/images/logo2.png">
			<h1 id="mainHeader">Campgrounds</h1>
			<p>Create and view best campgrounds from all over the world</p>
			<p>Start Today!</p>
		</div>
	</header>

	<section class="bcgWhite">
		<div class="row">
			<% for(var i = 0; i < campgrounds.length; i++) { %>
			<div class="col-md-3 col-sm-6">
				<div id="campgroundsThumbnail" class="thumbnail">
					<img class="indeximg img-responsive" src="<%= campgrounds[i].image %>">
					<div class="caption">
						<h4><%= campgrounds[i].name %></h4>
					</div>
					<p>
						<a href="/campgrounds/<%= campgrounds[i]._id %>" class="btn btn-primary"><i class="fa fa-search-plus" aria-hidden="true"></i> More Info</a>
					</p>
				</div>
			</div>
			<% } %>
		</div>
		<div class="row">
			<nav>
				<div class="col-md-offset-5">
					<ul class="pagination pagination-lg">
						<% if(output.pages.current > 1 && output.pages.hasPrev === true) { %>
						<li>
      						<a href="/campgrounds/page/<%= output.pages.prev %>" aria-label="Previous">
        						<span aria-hidden="true">&laquo;</span>
      						</a>
    					</li>
    					<% } else { %>
    					<li>
      						<a class="btn btn-xs disabled" href="#" aria-label="Previous">
        						<span aria-hidden="true">&laquo;</span>
      						</a>
    					</li>
    					<% } %>
   						<li>
    					<% for(var i = 1; i < output.pages.total +1; i++) { %> 
    					<li><a href="/campgrounds/page/<%= i %>"><%= i %></a></li>
    					<% } %>
    					</li>
    					<% if(output.pages.current < output.pages.total && output.pages.hasNext === true) { %>
    					<li>
      						<a href="/campgrounds/page/<%= output.pages.next %>" aria-label="Next">
        						<span aria-hidden="true">&raquo;</span>
      						</a>
    					</li>
    					<% } else { %>
    					<li>
      						<a class="btn btn-xs disabled" href="#" aria-label="Next">
        						<span aria-hidden="true">&raquo;</span>
      						</a>
    					</li>
    					<% } %>
					</ul>
				</div>
			</nav>	
		</div>
	</section>

<% include ../partials/footer %>